-i https://pypi.org/simple
apscheduler==3.11.0
pyaes==1.6.1
pysocks==1.7.1
pytz==2024.2
six==1.17.0
sqlalchemy==2.0.43
typing-extensions==4.12.2
tzlocal==5.2
python-telegram-bot[rate-limiter]==22.5
#mysql-connector-python===8.2.0